//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.02
//Part Number: GW1N-LV9QN88C6/I5
//Device: GW1N-9
//Device Version: C
//Created Time: Tue 09 17 11:24:31 2024

IO_LOC "led" 14;
IO_PORT "led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "btn1" 4;
IO_PORT "btn1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
